<div class="dashboard-container">
    <div class="dashboard-section">
      <mat-card class="dashboard-card" *ngFor="let event of upcomingEvents">
        <mat-card-header>
          <mat-card-title>{{ event.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="event-details" (click)="getEventImages(event);">
            <div>
              <img [src]="event.coverImage" alt="{{ event.title }}" class="event-image">
              <p>{{ event.eventDate | date: 'medium' }}</p>
            </div>
            <div>
              <p>{{ event.description }}</p>
              <p>Participants: {{ event.participants }}</p>
              <p>TotalCost: {{ event.totalCost }}</p>
            </div>
          </div>
         
          <div class="carasoul-container" *ngIf="event?.images?.length > 0">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide *ngFor="let slide of event?.images">
                <img [src]="slide.image" alt="Slide image" class="slider-image">
              </ng-template>
            </owl-carousel-o>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>